nav{
    background-color: rgb(253, 235, 248);
    text-align: right;
}
nav li{
    list-style-type:none ;
    display:inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(6, 68, 139);
    font-size: 20px;
}
nav li a:hover{
    background-color: rgb(145, 235, 235);
    color: rgb(224, 15, 95);
    transition: background-color 1s linear;
}
nav ul{
    margin: 0px;
}
body{
    margin: 0px;
}
header{
    height: 200px;
    background-color: rgb(214, 177, 238);
}
aside{
    height: 200px;
    background-color: rgb(204, 155, 236);
    width: 20%;
    float: left;
}
section{
    height: 200px;
    background-color: rgb(175, 126, 231);
    width: 80%;
    float: left;
}
footer{
    height: 200px;
    background-color: rgb(156, 101, 245);
    clear: both;
}
.post{
    text-align: center;
    padding: 10px;
    float: left;
}