nav{
    background-color: rgb(253, 235, 248);
    text-align: right;
}
nav li{
    list-style-type:none ;
    display:inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(6, 68, 139);
    font-size: 20px;
}
nav li a:hover{
    background-color: rgb(145, 235, 235);
    color: rgb(224, 15, 95);
    transition: background-color 1s linear;
}